# Backup files #
################
*.*~
*.ipynb_checkpoints*
backup/
Wood_old*
*.zip

# Libraries #
#############
Beams
Wood
Older_Classes
Old Beams

# Editing Files #
#################
MarkedChanges.txt
Warnings.txt
Untitled*

# Original Code sources #
#########################
nblinkcheck

# ipynb versions of the files #
##############################
*.ipynb

# LeTeX versions and pdfs #
###########################
*.tex
*.swp
*.pdf
